// product-preview
#product-preview.product__preview.carousel.slide(data-ride='carousel')
  .carousel-inner.product__preview-inner
    -
      var carouselItems = [
        {
          active: true,
          title: 'NY Colorblock Top',
          subtitle: 'Pharrell Williams',
          img: 'assets/img/product.png',
          price: '$299'
        },{
          title: 'NY Colorblock Top',
          subtitle: 'Pharrell Williams',
          img: 'assets/img/product.png',
          price: '$299'
        }
      ];

    each item in carouselItems
      .carousel-item(class= item.active ? 'active' : '')
        .product__preview-card
          .product__preview-img-wrapper
            img.product__preview-img(src= item.img alt="product name")
          .product__preview-description
            p.product__preview-subtitle(title= item.subtitle)= item.subtitle
            h2.product__preview-title(title= item.title)= item.title
            .product__preview-price(title= item.price)= item.price

  .product__preview-controls
    a.product__preview-btn.product__preview-btn_prev.carousel-control-prev(href='#product-preview', role='button', data-slide='prev' title="previous slide")
    a.product__preview-btn.product__preview-btn_next.carousel-control-next(href='#product-preview', role='button', data-slide='next' title="next slide")