/*================================================================
  page-header
================================================================*/

.page-header {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 5;
  width: 100%;
}