/*================================================================
  product__preview
================================================================*/

$border-width: $border-width-base;
$border-style: solid;
$border-color: $border-color-base;

.preview {
  display: flex;
  min-height: 123px;

  @media (max-width: 1322px) {
    flex-direction: column;
  }
}

.preview__inner {
  flex-grow: 1;

  @media (max-width: 767px) {
    border-bottom: $border-width $border-style $border-color;
  }
}

/*================================================================
  product__preview__card
================================================================*/

.preview__card {
  display: flex;
  min-height: 116px;
  align-items: stretch;
}

.preview__card-img-wrapper {
  overflow: hidden;
  flex-shrink: 0;
  width: 62px;
  margin-right: 36px;
}

.preview__card-img {
  display: block;
  width: 100%;
  height: auto;
}

.preview__card-description {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.preview__card-subtitle,
.preview__card-title,
.preview__card-price {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview__card-subtitle {
  margin-top: 3px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: em(10);
  color: $text-color-lighten;
  letter-spacing: em(1);
  text-transform: uppercase;
}

.preview__card-title {
  margin-top: 0;
  font-weight: 700;
  font-size: em(18);
}

.preview__card-price {
  margin-top: auto;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: em(28);
}

/*================================================================
  product__preview__controls
================================================================*/

$arrow-stroke: 2px;
$arrow-color: #dcd7d0;
$arrow-color-active: $text-color-base;

.preview__controls {
  display: flex;
  flex-shrink: 0;
  align-self: flex-end;
}

.preview__btn {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  display: block;
  width: 60px;
  height: 60px;
  opacity: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    border-top: $arrow-stroke solid $arrow-color;
    transition-duration: .25s;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $arrow-color-active;
    }
  }
}

.preview__btn_prev {
  &::before {
    left: 50%;
    transform: translate(-26%, -32%) rotate(-45deg);
    border-left: $arrow-stroke solid $arrow-color;
  }
}

.preview__btn_next {
  border-left: $border-width $border-style $border-color;

  &::before {
    right: 50%;
    transform: translate(26%, -32%) rotate(45deg);
    border-right: $arrow-stroke solid $arrow-color;
  }
}