/*================================================================
  search-icon
================================================================*/

$icon-color: $text-color-base;
$stroke-width: 2px;

.search-icon {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  border: $stroke-width solid $icon-color;
  border-radius: 50%;

  &::after {
    content: '';
    position: absolute;
    transform-origin: left top;
    transform: rotate(45deg) translate(10px, 2px);
    height: $stroke-width;
    border-radius: 1px;
    width: 6px;
    background-color: $icon-color;
  }
}